body {
  color: #fff;
  margin: 0;
  font-size: 0.875rem;
  font-family: Brutal, sans-serif;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.1px;
  background-color: rgba(0, 0, 0, 0.93);
  justify-content: center;
  align-items: center;
  display: flex;
}

.whole-div {
  color: rgba(255, 255, 255, 0.72);
  width: 30rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #202020;
  border-radius: 4px;
}

.inner-div {
  position: relative;
  height: 48rem;
  text-align: initial;
  display: inline-table;
  vertical-align: middle;
  width: 100%;
  overflow: visible;
  padding: 5px;
}
.logo-div {
  position: absolute;
  top: 3.5rem;
  left: 10rem;
  color: rgba(255, 255, 255);
}

.signup-text {
  color: rgba(255, 255, 255);
  position: absolute;
  top: 10.5rem;
  left: 10.4rem;
  font-size: 17px;
  font-family: Brutal, sans-serif;
  font-weight: 550;
  line-height: 1.5625rem;
  letter-spacing: -0.2px;
}

.email-input-field {
  position: absolute;
  top: 13.5rem;
  left: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#email-field {
  width: 22.4rem;
  height: 3.5rem;
  background-color: #202020;
  border-width: 1px;
  border-radius: 4px;
  border-color: rgba(245, 245, 245, 0.4);
}

input::placeholder {
  color: rgba(245, 245, 245, 0.6);
  font-weight: 450;
}

.continue-button:hover {
  filter: brightness(1.1);
}

.continue-button {
  position: absolute;
  top: 20rem;
  left: 3.8rem;
  background-color: #0074e4;
  width: 22.4rem;
  height: 3.5rem;
  border-radius: 4px;
  transition: all 0.2s ease 0s;
}

.continue-button-link {
  text-decoration: none;
  color: #fff;
  font: 12px Brutal, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-div {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
  width: 7.3rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-top: 0.6rem;
}

.other-signin-divider {
  position: absolute;
  top: 26.5rem;
  left: 2.9rem;
  display: flex;
}

.other-link-grid {
  position: absolute;
  top: 30.4rem;
  left: 3.8rem;
  width: 22.4rem;
}

.my-col:hover {
  filter: brightness(1.1);
}
.my-col {
  background-color: rgb(2, 125, 0);
  border-radius: 4px;
  height: 4rem;
  transition: all 0.2s ease 0s;
}

.my-col2 {
  background-color: rgb(0, 55, 145);
  border-radius: 4px;
  height: 4rem;
  transition: all 0.2s ease 0s;
}

.my-col2:hover {
  filter: brightness(1.1);
}

.other-sign-link {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-col3 {
  background-color: rgb(233, 0, 0);
  border-radius: 4px;
  height: 4rem;
  transition: all 0.2s ease 0s;
}
.my-col3:hover {
  filter: brightness(1.1);
}

.my-col4 {
  background-color: rgb(20, 92, 143);
  border-radius: 4px;
  height: 4rem;
  transition: all 0.2s ease 0s;
}
.my-col4:hover {
  filter: brightness(1.1);
}

.my-col5 {
  background-color: rgb(24, 119, 242);
  border-radius: 4px;
  height: 4rem;
  transition: all 0.2s ease 0s;
}

.my-col5:hover {
  filter: brightness(1.1);
}

.my-col6 {
  background-color: rgb(254, 253, 253);
  border-radius: 4px;
  height: 4rem;
  transition: all 0.2s ease 0s;
}

.my-col6:hover {
  filter: brightness(1.1);
}

.my-col7 {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  height: 4rem;
  transition: all 0.2s ease 0s;
}

.my-col7:hover {
  filter: brightness(1.1);
}

.my-col8 {
  background-color: rgb(255, 212, 0);
  border-radius: 4px;
  height: 4rem;
  transition: all 0.2s ease 0s;
}

.my-col8:hover {
  filter: brightness(1.1);
}

.privacy-policy-disclaimer {
  margin-top: 1.5rem;
  position: absolute;
  display: flex;
  width: 22rem;
  left: 5.5rem;
  top: 40rem;
}

.privacy-policy-link {
  text-decoration: none;
  color: white;
}

.privacy-policy-link:hover {
  text-decoration: underline;
}
