body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

a.epic-pages-link {
  text-decoration: none;
}
.main-class {
  padding-left: 10%;
  padding-right: 10%;
  background-color: black;
}

.heading-text {
  color: rgb(245, 245, 245);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.2px;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.buttons .left {
  position: relative;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: rgb(32, 32, 32);
  color: white;
}

.buttons .right {
  position: relative;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: rgb(32, 32, 32);
  color: white;
}

.genres {
  display: flex;
  justify-content: space-between;
}

.action-games {
  background-color: rgb(32, 32, 32);
  width: 225px;
  height: 235px;
  position: relative;
  display: flex;
}

.game-card-discount {
  margin-top: 0.5rem;
  margin-bottom: 0.5;
  background-color: var(--color-accent);
  /* padding: -2rem; */
  border-radius: 0.2rem;
  margin-left: 0;
  font-size: 0.7rem;
  padding-inline: 0.3rem;
}

.game-card-title {
  font-size: 0.8rem;
}

.game-card h4 {
  font-size: 15px;
}

.game-card p {
  font-size: 10px;
}

.img-container {
  position: relative;
}

.img1 img,
.img2 img,
.img3 img {
  position: absolute;
  top: 50px;
  left: 10px;
  width: 10rem;
  height: 10rem;
  padding-bottom: 2.5rem;
}

.img2 img {
  top: 20px; /* Adjust as needed for overlap */
  left: 20px; /* Adjust as needed for overlap */
}

.img3 img {
  top: 40px; /* Adjust as needed for overlap */
  left: 40px; /* Adjust as needed for overlap */
}

.actgame-text {
  position: absolute;
  top: 94%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.new-release {
  display: flex;
}

.left {
  width: 75%;
}

.right {
  flex: 1;
  padding-left: 20px; /* Adjust padding as needed */
  background-color: black;
  align-items: center;
}

.accordion {
  /* background-color: black; */
  border: 0px;
  outline: none;
  border: none !important;
}

.accordion-item {
  border: none;
  background-color: black;
}

.accordion-item:active {
  background-color: black;
  color: white;
}
.accordion-button {
  background-color: black; /* Set your desired button background color */
  color: rgb(187, 187, 187);
  border: 0px;
  outline: none;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1.625;
  text-transform: uppercase;
  text-decoration: none;
}
.accordion .accordion-button:focus {
  box-shadow: none;
  outline: none;
  background-color: black;
  border-color: none;
  text-decoration: none;
  border: 0px;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: black;
  border: 0px;
  text-decoration: none;
  border: 0px;
  box-shadow: none;
}

.accordion-body button {
  color: rgb(187, 187, 187);
  text-decoration: none;
  background-color: black;
  border: 0px;
  outline: none;
  font-size: 13px;
  letter-spacing: 0.5px;
  line-height: 1.625;
}

.filter-image {
  top: 0;
  left: 0;
  width: 14rem;
  height: 16rem;
  padding: 2rem;
  border-radius: 18%;
  padding-bottom: 2.5rem;
}

.filter-games {
  background-color: black;
  width: 200px;
  height: 270px;
  position: relative;
}

#browsepage-game-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 25vw;
  gap: 1rem;
  row-gap: 60px;
}

.pagination {
  margin-left: 40%;
}
.pagination button {
  color: rgb(187, 187, 187);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  text-align: center;
  background-color: var(--color-main-page);
  margin-top: 30px;
  align-items: center;
  border: none; /* Remove border */
  box-shadow: none;
  outline: none; /* Remove outline */
}

.game-card {
  height: 30rem;
}

.search-box {
  display: flex;
  background-color: rgb(128, 128, 128, 0.2);
  border-radius: 0.8rem;
  flex-direction: row;
  overflow: hidden;
  height: 2rem;
  align-items: center;
  gap: 0.5rem;
  /* padding-left: 0.6rem; */
  padding: 0.6rem;
}

.search-button svg {
  width: 1rem;
  height: 1rem;
  /* margin-top: -20 px; */
}

.right #search-field {
  background-color: rgb(187, 187, 187);
  border: 0;
  height: 1.5rem;
  width: 9rem;
  margin-top: -100px;
  margin-left: 35px;
}

.search-icon {
}
