@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857;
  background-color: rgb(255, 255, 255) !important;
}
body * {
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
}
div {
  display: block;
}
.bootstrap-custom .container {
  margin-left: auto;
  margin-right: auto;
}
.bootstrap-custom .cms-page-content {
  color: rgb(51, 51, 51);
}
body .eg-app {
  background-color: #fff;
}
.cms-page .cms-page-content {
  padding: 1em 1.5em 2em;
}

@media (min-width: 992px) {
  .bootstrap-custom .container {
    width: 970px;
  }
}
.bootstrap-custom .container:before {
  content: " ";
  display: table;
}
.cms-page .cms-page-content h1 {
  text-transform: uppercase;
}
.bootstrap-custom .cms-page-content h1 {
  font-size: 2.4em;
  padding-bottom: 0.5em;
  font-weight: bold;
}
.bootstrap-custom p {
  margin: 0 0 10px;
}
.bootstrap-custom strong {
  font-weight: 700;
}
.cms-page-content a {
  color: #0078f2;
}
.bootstrap-custom a {
  background-color: rgba(0, 0, 0, 0);
}
.bootstrap-custom a {
  text-decoration: none;
}
.fynSjm a {
  overflow-wrap: break-word;
}
.bootstrap-custom .container:after {
  clear: both;
}
