body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

a.epic-pages-link {
  text-decoration: none;
}

.cart-body-page {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 8%;
}
.cart-whole {
  display: flex;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Adjust the padding as needed */
  /* margin-right: 20px; */
}

.cart-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-title h1 {
  color: white;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -0.3px;
  margin: 0;
}

.rewards {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.rewards p {
  color: grey;
  margin-right: 8px; /* Adjust the spacing between "My Cart" and "Rewards" */
  margin-top: 20px;
  font-size: 14px;
}

.rewards i {
  color: grey;
  font-size: 14px; /* Adjust the icon size as needed */
  margin-right: 16px;
}

.rounded-box {
  background-color: rgb(32, 32, 32);
  color: rgb(245, 245, 245);
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid rgba(245, 245, 245, 0.6);
}

.content {
  display: flex;
  flex-direction: row;
}

.game-details {
  flex: 2;
  margin-top: 20px;
  width: 700px;
  height: 235px;
  background-color: rgb(32, 32, 32);
  border-radius: 4px;
  padding-top: 0.5em;
  padding-left: 0.5em;

  display: flex;
  flex-direction: row;
}

.cart-update {
  color: grey;
  margin-left: 19rem;
  margin-top: -0.3rem;
}

.cart-update a {
  color: rgb(253, 253, 253, 0.6);
  font-size: 0.9rem;
  padding-right: 1rem;
}

.cart-update a:hover {
  color: white;
}
.wishlist {
  margin-left: 2rem;
}
.wishlist:hover {
  color: white;
}
.left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.right {
  flex: 4;
  margin-top: 1rem;
}

.right h2 {
  color: white;
  padding-left: 0.5rem;
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
  margin-left: 1rem;
  white-space: nowrap;
}

.right h3 {
  color: white;
  font-size: 1rem;
  margin-left: 0.7rem;
}

.right h6 {
  font-size: 0.8rem;
  margin-top: 0.1em;
  color: white;
  margin-left: 300px;
}
.right h4 {
  font-size: 0.9rem;
  margin-top: -2.3rem;
  margin-left: 3rem;
  color: white;
}

.right p {
  color: white;
  padding-left: 1rem;
}

.qmark {
  margin-left: 9em;
  margin-top: -2.5rem;
  color: rgb(253, 253, 253, 0.7);
}
.base {
  display: flex;
  flex-direction: row;
}

.base h2 {
  color: rgb(245, 245, 245);
  border-radius: 4px;
  padding: 4px 8px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
}

.base p {
  flex: 1;
  margin-top: 0.2rem;
  white-space: nowrap;
}
.price {
  flex: 2;
  color: white;
  margin-left: 4rem;
  font-size: 0.8rem;
  padding-right: 1.5rem;
}

.icon {
  padding-left: 1rem;
  width: 2.2rem;
  height: 1.4rem;
  color: white;
  margin-top: -1rem;
}

.summary {
  flex: 1;
  margin-top: 0.5rem; /* Adjust the margin-top as needed */
  padding-top: 0.5em; /* Adjust the padding-top as needed */
  padding-left: 2em;
}

.summary h2 {
  margin-top: 8px;
  color: white;
  font-size: 26px;
  white-space: nowrap;
}

.summary h6 {
  color: white;
  font-size: 15px;
  white-space: nowrap;
}

.windows-icon {
  color: grey;
  font-size: 0.75rem; /* Adjust the font size of the Windows icon as needed */
  margin-bottom: 6rem;
  padding-left: 1rem;
}

.game-details img {
  padding: 10px;
  padding-left: 1rem;
  width: 10em;
  height: 12em;
  border-radius: 0.9rem;
}

.bill {
  display: flex;
  flex-direction: column;
  padding: 0; /* Remove padding */
  margin-right: 0 auto; /* Center the element */
  width: 100%;
  text-align: right;
}

.bill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.bill h6 {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding-right: 9rem;

  /* margin: 0;
  color: white;
  font-size: 0.875rem;
  letter-spacing: 0.2px;
  line-height: 1.25rem;
   */
}
.bill-item p {
  margin: 0;
  color: rgba(245, 245, 245, 0.6);
  font-size: 0.875rem;
  margin-left: -7rem;
  line-height: 1.25rem;
  white-space: nowrap;
}

.bill span.price {
  color: white;
  font-size: 1rem;
  margin-left: auto;
  margin-right: -1.2rem;
}

hr {
  color: white;
  height: 1px;
}

.checkout-button {
  outline: none;
  font-size: 12px;
  letter-spacing: 1px;
  width: 100%;
  height: 50px;
  text-align: center;
  justify-content: center;
  line-height: 15px;
  padding: 1rem;
  background-color: rgb(0, 116, 228);
  color: rgb(245, 245, 245);
  border-radius: 7px;
  display: flex;
}
