:root {
  --color-background-default: #18181c;
  --color-main-page: rgb(18, 18, 18);
  --color-accent: #007aff;
}

body {
  color: rgb(245, 245, 245);
  background: var(--color-main-page);
  position: relative;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

.gameheading {
  position: absolute;
}

.gamepage {
  position: relative;
  margin: 7rem 8rem 0rem 8rem;
}
.gameheadingmore {
  position: absolute;
  top: 2rem;
  left: -0.1rem;
  display: flex;
}

\\star .star-rating {
  display: inline-block;
  font-size: 0;
}

.star-rating input {
  display: none;
}

.star-rating label {
  display: inline-block;
  width: 10px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 1.3rem;
  color: #ccc;
}

.star-rating label:before {
  content: "★";
}

.star-rating input:checked ~ label {
  color: #fcfcfc;
}

.rating {
  margin: 0.45rem 1rem;
}

.globeimg {
  margin: 0.4rem;
}

.gameheadingtext {
  color: rgb(245, 245, 245);
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0.6rem;
}

.overviewnav {
  position: absolute;
  top: 6rem;
  left: -1rem;
}

.overviewnavlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  display: flex;
  overflow-x: auto;
}
.litem {
  padding-left: 1rem;
  color: rgba(245, 245, 245, 0.6);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.2px;
}

a.lilink {
  display: block;
  color: rgba(245, 245, 245, 0.6);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a.lilink:hover {
  text-decoration: underline;
  color: rgba(245, 245, 245, 0.6);
}

.active {
  text-decoration: underline;
  color: white;
}

.overview {
  position: absolute;
  top: 10rem;
}
